a {  
  color: inherit;
  text-decoration: none;
}

header{
	height: 25.6vw;
	width: 100vw;
	position: fixed;
	z-index: 2;
}

header *{
	background-color: black;
	margin: 0vw;
}

#title h1{
	color: white;
	text-align: center;
	font-size: 6.4vw;
	height: 12.8vw;
	line-height: 12.8vw;
}

#menu{
	padding: 0vw;
}

ul .header-button{
	color: white;
	text-align: center;
	list-style: none;
	width: 25%;
	height: 12.8vw;
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
}

ul .header-button{
	vertical-align: middle;
	line-height: 12.8vw;
	font-size: 3.75vw;
}

ul .header-button:hover{
	font-weight: bold;
	text-decoration: underline;
}

body{
	margin: 0vw;
}

.element{
	padding: 9.333vw 2.667vw;
}


/*トップ*/
.top-wrapper{
	padding-top: 25.6vw;
}

#key-visual{
	width: 100%;
	display: block;
}

/*ステートメント*/
.about-wrapper{
	background: #FAFAFA;
}

.element #statement{
	font-size: 3.45vw;
	letter-spacing: 0.15em;
	line-height: 1.7em;
	text-align: justify;
	font-feature-settings: "palt";
	margin: 9.333vw 2.667vw;
}

.element h1{
	font-size: 4vw;
	margin: 9.333vw 0vw 2.667vw 2.667vw;
	color: black;
}

/*モーダル*/
#modals-wrapper{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 8;
	position: fixed;
	top: 0px;
	background: #00000088;
	max-height: 100vh;
	overflow: auto;
}

#modals-wrapper #modals-bg{
	width: 100vw;
	height: 100vh;
	background: #00000000;
	position: fixed;
}

#modals-wrapper .artist-modal{
	width: 84vw;
	padding: 5.2vw;
	background: #FFF;
	border-radius: 2.8vw;
	margin-top: 31.2vw;
	margin-left: 2.8vw;
	margin-bottom: 31.2vw;
	position: absolute;
	z-index: 9;
}

#modals-wrapper .artist-modal>*{
	padding: 2.6vw 0vw;
}

.first-column{
	height: 6.67vw;
}

.back-button{
	width: 6.67vw;
	height: 6.67vw;
	display: inline-block;
	float: right;
}

.modal-lab{
	font-size: 3.45vw;
	font-weight: bold;
	display: inline-block;
	float: left;
}

.modal-nameJP{
	font-size: 4vw;
	font-weight: bold;
}

.modal-nameEN{
	font-size: 3.45vw;
	font-weight: bold;
}

.work-photo{
	width: 84vw;
}

.work-title{
	font-size: 3.45vw;
	margin: 0.5em 0vw;
	text-align: right;;
}

.footer-column p{
	font-size: 3.45vw;
	margin: 0;
}
.footer-column .link{
	font-size: 3.45vw;
	padding-top: 3vw;
	text-decoration: underline;;
}

/*出展者情報*/
.element .grades{
	margin: 9.333vw 0vw 9.333vw 2.667vw;
	padding: 0vw 0vw 0vw 0vw;
}

.element .grades h2{
	font-size: 3.75vw;
	color: black;
}

.artist-wrapper{
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.artist-wrapper .sumbnail{
	display: inline-block;
	width: 50%;
	margin: 2.667vw 0vw;
	float: left;
}

.artist-wrapper .sumbnail img{
	width: 100%;
}

.artist-wrapper .infoText{
	width: 50%;
	margin: 2.667vw 0vw;
	-ms-flex-pack: distribute;
	justify-content: space-around;

  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
   	flex-flow: column;
}

.infoText *{
  	vertical-align: top;
  	margin: 0vw;
}

.infoText .lab{
	font-size: 3.45vw;
	font-weight: bold;
	padding: 1.333vw 0vw 1.333vw 2.667vw;
}

.infoText .name{
	padding: 1.333vw 0vw 1.333vw 2.667vw;
}

.infoText .name .nameJP{
	font-size: 4vw;
	font-weight: bold;
}

.infoText .name .nameEN{
	font-size: 3.45vw;
	font-weight: bold;
}

.infoText .modalButton{
	font-size: 3.45vw;
	padding: 1.333vw 0vw 1.333vw 2.667vw;
	text-decoration: underline;
}



/*Access*/
.access-wrapper{
	background: #FAFAFA;
	padding-bottom: 18.667vw;
}

.access-wrapper #map{
	margin: 2.667vw;
	letter-spacing: 0.1em;
	line-height: 1.5;
}

.access-wrapper #map iframe{
	margin: 2.667vw 0vw;
	width: 100%;
	height: 60vw;
}

.access-wrapper #map #place-name{
	font-size: 3.75vw;
	font-weight: bold;
	margin: 2.667vw 0vw;
}

.access-wrapper #map #place-address{
	font-size: 3.45vw;
	margin: 1.333vw 0vw;
}

.access-wrapper #map #place-description{
	font-size: 3.45vw;
	margin: 1.333vw 0vw;
}



/*フッター*/
footer{
	height: 38vw;
	background: black;
	
	-ms-flex-pack: distribute;
	justify-content: space-around;

  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
   	flex-flow: column;
}

footer #footer-wrapper{
	margin: 2.667vw;
}

footer div #icons img{
	width: 8vw;
}

footer div #credit{
	color: white;
	font-size: 2.8vw;
}
