a {
  color: inherit;
  text-decoration: none;
}

header{
	background-color: white;
	height: 27.8vw;
	width: 100vw;
	position: fixed;
	z-index: 2;
 	transition: .3s;
}

header *{
	background-color: black;
	margin: 0vw;
}

#title{
	background-color: white;
	width: 100vw;
	height: 15vw;
	position: relative;
}

#title img{
	background-color: white;
	margin: auto;
	width: 89vw;
	display: block;
	margin: auto;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 2.7vw;
}

#menu{
	background-color: white;
	padding: 0vw;
}

ul .header-button{
	background-color: white;
	text-align: center;
	list-style: none;
	height: 13.333vw;
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
}

ul .header-button img{
	background-color: white;
	height: 13.333vw;
}

#header-top{
	width: 17.6vw;
}

#header-about{
	width: 22.933vw;
}

#header-exhibitors{
	width: 33.6vw;
}

#header-access{
	width: 25.867vw;
}
ul .header-button:hover{
	font-weight: bold;
	text-decoration: underline;
}

body{
	margin: 0vw;
  /*遠藤↓*/
	font-family: "游ゴシック体", YuGothic, "Noto Sans JP", sans-serif;
	word-break : break-all;
}

.element{
	padding: 9.333vw 2.667vw;
}


/*トップ*/
.top-wrapper{
	top: 0px;
}

#key-visual-wrapper{
	width: 100vw;
	height: 100vh;
	position: relative;
}

#key-visual-bg{
	width: 100vw;
	height: 100vh;
	top: 0vw;
	display: block;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
@media only screen and (min-width: 751px){
	#key-visual-obj-pc{
		width: 58vw;
		top: 14.9vw;
		left: 48.4vw;
		position: absolute;
		display: block;
		opacity: 0.7;
	}
	#key-visual-obj-sp {
		width: 0;
		height: 0;
		display: none !important;
	}
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
	#key-visual-obj-pc{
		width: 0;
		height: 0;
		display: none !important;
	}
	#key-visual-obj-sp {
		width: 83.85vw;
		top: 14.9vw;
		left: 16.15vw;
		position: absolute !important;
		display: block;
		opacity: 0.7;
	}
}

#key-visual-text{
	width: 89vw;
	top: 70vw;
	left: 5.5vw;
	position: absolute;
	display: block;
}




/*ステートメント*/
.about-wrapper{
	background: #1E2487;
}

.element #statement{
	color: white;
	font-size: 3.45vw;
	letter-spacing: 0.15em;
	line-height: 1.7em;
	text-align: justify;
	font-feature-settings: "palt";
	margin: 5.333vw 2.667vw;
}

.element #sign{
	color: white;
	font-size: 3.45vw;
	letter-spacing: 0.15em;
	line-height: 1.7em;
	text-align: right;
	font-feature-settings: "palt";
	margin: 5.333vw 2.667vw;
}

.element #info-in-about{
	color: white;
	font-size: 3.45vw;
	font-weight: bold;
	letter-spacing: 0.15em;
	line-height: 1.7em;
	text-align: justify;
	font-feature-settings: "palt";
	/*margin: 5.333vw 2.667vw;*/
  /*遠藤↓*/
  margin: 5.333vw 2.667vw 50px;
}

.element #info-in-about hr{
  /*遠藤↓*/
	height: 1px;
  background-color: white;
  border: none;
}

.element #info-in-about p{
	margin: 1.667vw 0vw;
}

.element .section-title{
	height: 4.4vw;
  /*遠藤↓*/
	margin: 50px 0vw 2.667vw 2.667vw;
}


/*モーダル*/
#modals-wrapper{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 8;
	position: fixed;
	top: 0px;
	background: #00000088;
	max-height: 100vh;
	overflow: auto;
}

#modals-wrapper #modals-bg{
	width: 100vw;
	height: 100vh;
	background: #00000000;
	position: fixed;
}

#modals-wrapper .artist-modal{
	width: 84vw;
	padding: 5.2vw;
	background: #FFF;
	border-radius: 6px;
	margin-top: 31.2vw;
	margin-left: 2.8vw;
	margin-bottom: 31.2vw;
	position: absolute;
	z-index: 9;
}

#modals-wrapper .artist-modal>*{
	padding: 2.6vw 0vw;
}

.first-column{
	height: 6.67vw;
}

.first-column .back-button{
	width: 6.67vw;
	height: 6.67vw;
	display: inline-block;
	float: right;
}

.close-under{
	text-decoration: underline;
	margin: 0;
	text-align: center;
}

.modal-lab{
	font-size: 3.45vw;
	display: inline-block;
	float: left;
}

.modal-nameJP{
	font-size: 4vw;
	font-weight: bold;
}

.modal-nameEN{
	font-size: 3.45vw;
	font-weight: bold;
}

.work-photo{
	width: 84vw;
}

.work-title{
	font-size: 3.45vw;
	margin: 0.5em 0vw;
	text-align: right;;
}

.footer-column p{
	font-size: 3.45vw;
	margin: 0;
}
.footer-column .link{
	font-size: 3.45vw;
	padding-top: 3vw;
	text-decoration: underline;;
}

.history{
	font-size: 3.45vw;
}




/*出展者情報*/
.element .grades {
	margin: 40px 2.667vw 5.333vw 2.667vw;
	padding: 0vw 0vw 0vw 0vw;
}


.element .grades .section-title-mini{
	height: 4vw;
}

.element .grades .section-description{
	font-size: 3.45vw;
	letter-spacing: 0.15em;
	line-height: 1.7em;
	text-align: justify;
	font-feature-settings: "palt";
	margin: 5.333vw 0vw;
}

.artist-wrapper{
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.artist-wrapper .sumbnail{
	display: inline-block;
	width: 50%;
	margin: 2.667vw 0vw;
	float: left;
}

.artist-wrapper .sumbnail img{
	width: 100%;
}

.artist-wrapper .infoText{
	width: 50%;
	margin: 2.667vw 0vw;
	-ms-flex-pack: distribute;
	justify-content: space-around;

  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
   	flex-flow: column;
}

.infoText *{
  	vertical-align: top;
  	margin: 0;
}

.infoText .name{
	padding: 1.333vw 0vw 1.333vw 2.667vw;
  margin-top:-5px;
}

.infoText .name .nameJP{
	font-size: 4vw;
	font-weight: bold;
}

.infoText .name .nameEN{
	font-size: 3.45vw;
	font-weight: bold;
}

.infoText .lab{
	font-size: 3.45vw;
	padding: 1.333vw 0vw 0.333vw 2.667vw;
	margin: 0;
	color: #787878;
}
.infoText .modalButton{
	font-size: 3.45vw;
	padding: 0.333vw 0vw 1.333vw 2.667vw;
	margin: 0;
	text-decoration: underline;
	color: #787878;
}




/*Access*/
.access-wrapper{
	background: #FAFAFA;
	padding-bottom: 18.667vw;
}

.access-wrapper #map{
	margin: 2.667vw;
	letter-spacing: 0.1em;
	line-height: 1.5;
}

.access-wrapper #map iframe{
	margin: 2.667vw 0vw;
	width: 100%;
	height: 60vw;
}

.access-wrapper #map #place-name{
	font-size: 3.75vw;
	font-weight: bold;
	margin: 2.667vw 0vw;
}

.access-wrapper #map #place-address{
	font-size: 3.45vw;
	margin: 1.333vw 0vw;
}

.access-wrapper #map #place-description{
	font-size: 3.45vw;
	margin: 1.333vw 0vw;
}



/*フッター*/
footer{

	background: #1E2487;

	-ms-flex-pack: distribute;
	justify-content: space-around;

  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
   	flex-flow: column;
}

footer #footer-wrapper{
	margin: 2.667vw;
}

footer div #icons{
	margin: 2.667vw;
}

footer div #icons img{
  margin-top: 20px;
	margin-right: 1.333vw;
	width: 8vw;
}

footer div #contact{
  margin: 2.667vw;
  color: white;
	font-size: 3.45vw;
  letter-spacing: 0.15em;
}

footer div #contact_title{
  font-weight:bold;
}

footer div #contact_mail{
	font-size: 3.25vw;
  margin-top:-10px;
  margin-bottom: 20px;
}

footer div #credit{
	margin: 2.667vw;
	color: white;
	font-size: 3.25vw;
	letter-spacing: 0.15em;
  margin-bottom:30px;
}
